  <div style="padding-left: 5%;">
    <% @main_pages.each do |item|%>
      <p><%= item %></p>
    <% end %>
  </div>
<%= button_to t(".btn_back"), root_path, method: :get, class: "btn btn-primary col-md-2" %>
