<h1><%= t ".h1" %></h1>
<!-- <button type="button"><%#= t ".btn_1" %></button>
<button type="button"><%#= t ".btn_2" %></button> -->
<%= button_to t(".btn_1"), fizzbuzz1_path, method: :get, class: "btn btn-primary col-md-2" %>
<%= button_to t(".btn_2"), fizzbuzz2_path, method: :get, class: "btn btn-primary col-md-2" %>
